.mb-0{
  font-family: 'Comic Neue', cursive;
  font-size: 26px;
}

.mb-0:hover{
  text-decoration: none;
}

main{
  margin-top: 70px;
  height: 661px;
}

.slider-gary {
  box-sizing: border-box;
  height: 500px;
  width: 100%;
  padding-top: 20px;
}

.slick-slide img {
  width: auto;
  height: 460px;
}

header{
  height: 50px;
  background-color: #C1D9C2;
  margin-bottom: -70px;
}

li{
  list-style: none;
  float: left;
  padding-left: 475px;
  padding-top: 15px;
}

.judul{
  float: left;
  font-size: 32px;
  font-family: 'Comic Neue', cursive;
  padding-left: 20px;
}

footer{
  height: 90px;
  background-color: #C1D9C2;
}

.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
  
.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-family: 'Nerko One', cursive !important;
}

  /*.slick-prev{
    content: '<' !important;
  }*/
  
  /*.slick-next{
    content: '>' !important;
  }*/

.lazy{
  float: left;
  margin-left: 40px ;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #456F78;
  box-shadow: 3px 2px #628c96 ;
}

.kotak-satu{
  background-color: #A3BFD9;
  box-shadow: 3px 3px rgb(145, 143, 143);
}

.kotak-dua{
  background-color: #F18898;
  box-shadow: 3px 3px rgb(145, 143, 143);
}

.profile{
  margin-top: 22px;
  margin-right: 22px;
  border-radius: 200px;
  box-shadow: 3px 3px 2px rgb(150, 146, 146);
}

.linkedin{
  background-color: white;
  width: 170px;
  border-radius: 20px;
  padding-left: 8px;
  box-shadow: 3px 3px rgb(145, 143, 143);
  display: inline-block;
}

.linkedin:active{
  position: relative;
  box-shadow: none;
  top: 3px;
  left:  3px;
}

.instagram{
  background-color: rgb(235, 129, 129);
  width: 200px;
  border-radius: 20px;
  padding-left: 8px;
  box-shadow: 3px 3px rgb(145, 143, 143);
  display: inline-block;
}

.instagram:active{
  position: relative;
  box-shadow: none;
  top: 3px;
  left:  3px;
}

.color-change{
  color: black;
  background-color: rgb(197, 146, 146);
  box-shadow: 0px 3px rgb(194, 183, 159);
  display: inline-block;
  border-radius: 5px;
  width: 160px;
  height: 45px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  outline-style: none;
  border-style: none;
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
}

.color-change:active{
  position: relative;
  top: 5px;
  outline-style: none;
  border-style: none;
  box-shadow: none;
}

.mb-2{
  margin-bottom: 0px;
  padding-left: 20px;
}

.kolom-atas{
  margin-top: 30px;

}

.kotak{
  height: 245px;
  width: 650px;
}

#bawah{
  max-width: 500px;
  float: left;
  margin-left: -950px;
  margin-top: -258px;
}

.visitor {
  float: left;
  margin-top: 70px;
  font-family: 'Comic Neue', cursive;
  font-size: 24px;
  background-color: white;
  text-align: right;
  width: 400px;
  height: 40px;
  border-radius: 15px;
  padding-top: 2px;
  padding-right:30px;
  margin-left: -630px;
}