.labelnya{
    margin: auto;
}

.listlabelnya{
    list-style: none;
    margin: left;
    margin-left: -57px;
    margin-top: 20px;
}

.labeltext{
    font-size: 20px;
    float: left;
    margin-left: 11px;
}

.textbox{
    height: 20px;
    width: 270px;
    margin: auto;
    margin-top: 10px;
}

.tempattombol{
    margin-left: -223px;
}

.buttontambah{
    font-size: 20px;
    margin: left;
    margin-left: 11px;
    width: 30px !important;
    height: 30px !important;
}

.buttonkurang{
    font-size: 20px;
    margin: left;
    width: 30px !important;
    height: 30px !important;
}

.checkbox1{
    margin-left: 4px;
    transform: scale(2.5);
    margin-bottom: 30px;
    margin-right: 30px;
}

.checkbox2{
    margin-left: -15px;
    transform: scale(2.5);
    margin-bottom: 30px;
    margin-right: 30px;
}

.checkbox3{
    margin-left: 2px;
    transform: scale(2.5);
    margin-right: 30px;
    margin-bottom: 30px;
}

.container{
    background-color: darkgrey;
    width: 300px;
    height: auto;
    flex-direction: column;
    margin: auto;
    border-radius: 12px;
}