header{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}

body{
    background-color: #F2EBDF;
    
}

h1, h2, p{
    font-family: 'Comic Neue', cursive;
}

h1{
    font-size: 50px;
    margin-top: 0px;
}

h2{
    text-align: center;
}
.inputan {
    height: 40px;
    margin-left:604px;
    margin-top:70px;
    padding-bottom: 40px;
}

.inputan p{
    font-size: 20px;
    margin-bottom: 5px ;
}

.border-form{
    width: 310px;
    height: 50px;
    background-color: #ffffff;
    padding-top: 5px;
    border-radius: 5px;
}



.form-nama{
    width: 268px;
    height: 40px;
    margin-left: 20px;
    font-family: 'Comic Neue', cursive;
    font-size: 24px;
    border-radius: 5px;
    outline-style: none;
    border-style: none;
    background-color: #ffffff;
}


.teks{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #C1D9C2;
    width: 310px;
    height: 60px;
    border-radius: 5px;
    font-family: 'Comic Neue', cursive;
    font-size: 40px;
    margin-top: 20px;
    box-shadow: 0px 5px #98aa98;
    padding-top: 10px;
    cursor: pointer;
    outline-style: none;
    border-style: none;
}

.teks:active{
    position: relative;
    top: 5px;
    box-shadow: none;
    outline-style: none;
    border-style: none;
}

#anim{
    max-width: 1024px;
    margin: auto;
}

footer{
    margin-top: -300px;
    margin-left: -300px;
    position: relative;
    z-index: -10;
}