/* stylelint-disable selector-list-comma-newline-after */
header{
  background-color:  #746f6f;
}
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "font-family: 'Inconsolata', monospace";
  font-size: 25px;
  color: #ffff;
}

h1, h2, h3, h4{
  font-family: "font-family: 'Inconsolata', monospace";
  margin:0 auto;
  color: #ffff;
}

p{
  text-align: justify;
}

.display-4 {
  font-size: 15rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 20px;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: rgb(192, 138, 138);
}

.mb-1{
  color: rgb(192, 138, 138);
}

a{
  color: #a3a2a2;
}

a:hover{
  color: #ffffff;
}
/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #3d3d3d;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p{
  text-align: center;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

.jumbotron{
  background-image: url(https://i.picsum.photos/id/313/576/250.jpg?hmac=mIzYTLmQUbVCDF85yN5qz6MsIL7l-ltnvCS2l-kNF5w);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.text-primary{
  color: #ffff;
}

body{
  background-color:#808080;
}

.stretched-link{
  color: #999;
}

.stretched-link:hover{
  color: rgb(255, 254, 254);
}

.title-select{
  background-color: #746f6f;
  border-radius: 15px;
}



.title-select-text{
  margin: 5px;
  padding: 10px 7px 7px 7px;
}

.blog-post {
  background-color: #746f6f;
  border-radius: 15px;

}

p{
  color: #ffffff;
}

.blog-sidebar{
  width: 250px;
}

.row{
  margin: 5px;
}

.rows{
  display: flex;
  margin:-15px;
}

.judul{
  margin-left: 0px;
  margin-top:-8px
}

.logo{
  width: 85px;
  height: 0 auto;
  margin-left:-10px ;
  margin-bottom: -30px;
  margin-top: -40px;
  margin-right: -16px;
}

.text-logo:hover{
  text-decoration: none ;
}

.gambar{
  width: 350px;
  height: 0 auto;
}

.penutup{
  font-size: 12px;
  margin-bottom: -20px;
}

.judul-title{
  font-family: 'Lato', sans-serif;
}
