.body {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .div {
    display: grid;
    place-items: center;
  }
  
  .span12 {
    background: lightpink;
    grid-column: 1 / 13;
  }
  
  .span6 {
    background: lightblue;
    grid-column: 1 / 7;
  }
  
  .span4 {
    background: coral;
    grid-column: 4 / 9;
  }
  
  .span2 {
    background: yellow;
    grid-column: 3 / 5;
  }
  
  .body {
    font-family: system-ui, sans-serif;
  }